@import "../../styles/colors.module.scss";

.login {
    align-items: center;
    border-radius: 40px;
    background: #212121;
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 350px;
    gap: 10px;

    &__logo {
        margin-top: 15px;
    }

    &__fields {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        margin-top: 10px;

        &__remember {
            align-self: start;
            align-items: center;
            background-color: transparent;
            border: none;
            color: $white;
            cursor: pointer;
            display: flex;
            gap: 5px;
            margin-left: 12px;
            font-size: 12px;

            &:hover>* {
                color: $red;
            }
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        gap: 20px;
        width: 90%;
    }
}